
[Unit]
Description=MCTP control protocol daemon
Wants=mctp-local.target
After=mctp-local.target

[Service]
Type=dbus
BusName=xyz.openbmc_project.MCTP
ExecStart=/usr/sbin/mctpd
# ignore fail if we are not bus owner
ExecStartPost=-/usr/bin/mctp-config.sh

[Install]
WantedBy=mctp.target
